<div class="header-container">
  <a [routerLink]="['home']">
    <h1>LAVENDER MOVIES</h1>
  </a>
  <div class="button-container">
    <a [routerLink]="['/login']">
      <p>LOGIN</p>
    </a>
    <a>
      <p>SIGN UP</p>
    </a>
    <a>
      <p>ABOUT</p>
    </a>
    <a [routerLink]="['/movie']">
      <p>MOVIES</p>
    </a>
  </div>
  <div search-menu-container>
    <div class="search-container">
      <input class="input-container" />
      <span class="material-symbols-outlined search-icon">
        search
      </span>
      <div>
      </div>
    </div>
