<div class="header-container">
  <a [routerLink]="['home']">
    <h1>LAVENDER MOVIES</h1>
  </a>
  <div class="button-container">
    <a [routerLink]="['/movie']">
      <p>MOVIES</p>
    </a>
    <a>
      <p>ABOUT</p>
    </a>
    <a *ngIf="user$.value.sub; else login">
      <p (click)="logout()">LOGOUT</p>
    </a>
    <ng-template #login>
      <a [routerLink]="['/login']">
        <p>LOGIN</p>
      </a>
      <a [routerLink]="['/signup']">
        <p>SIGN UP</p>
      </a>
    </ng-template>
  </div>
  <div search-menu-container>
    <div class="search-container">
      <input class="input-container" />
      <span class="material-symbols-outlined search-icon">
        search
      </span>
      <div>
      </div>
    </div>
