.movie-container{
  margin-bottom: 20px;
  padding: 10px 20px 20px 20px;
  border-bottom: 1px solid #70548C;
  display: flex;
  align-items: center;
}

.movie-container p{
  margin-bottom: 8px;
  font-size: 20px;
}

a{
  text-decoration: none;
}

a:hover{
  border-bottom: 1px solid #EAEAEA;
}

.image-container{
  max-width: 200px;
}
