.grid{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-items: center;
  margin-top: 40px;
}

.movie-container{
  margin-bottom: 20px;
  padding: 10px 20px 20px 20px;
  display: flex;
}

.movie-container p{
  margin-bottom: 8px;
  font-size: 20px;
}

a{
  text-decoration: none;
}

a:hover{
  border-bottom: 1px solid #EAEAEA;
}

.image-container{
  max-width: 200px;
  border-radius: 8px;
  box-shadow: 8px 8px 16px rgba(22, 22, 22, 0.667);
}
